matplotlib==3.10.0
ocrmypdf==16.8.0
pandas~=2.2.3
requests~=2.32.3
openpyxl~=3.1.5
openai-whisper==20250625
langchain-community~=0.3.20
langchain~=0.3.22
langchain-core~=0.3.49
googletrans~=4.0.2
pypdf~=5.4.0
future~=1.0.0
nicegui~=2.14
pywebview~=5.3
platformdirs~=4.3
huggingface_hub~=0.28
pytest~=8.3
